
html{
	background-color:hsl(0, 0%, 71%);
}

.credits{
	padding-top: 20px;
	padding-bottom: 20px;
	position:fixed;
	bottom:0;
	width:100%;
}
a.inactivelink{
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
 }
 a.inactivelink:hover{
	background-color: unset;
 }
   
.hbutton{
	position: absolute !important;
	/* margin-left: -47.8%; */
	display: block;
	margin-top: 20px !important;
	margin-left: 20px;
}

.logbutton{
	position: fixed !important;
	margin-left: 42%;
	margin-top: 20px;
}
#prof_box{
	padding-bottom:3rem;
	margin:auto;
}

.button
{
	margin-top: 5px;;
}

.imgpadding{
	margin-left: 20px !important;
	margin-right: 20px !important;
}
.username{
	padding-left: 13px;
	padding-top: 10px;
	color :White;
	font-weight : 900;
	font-size : large;
}
.commentusername{
	padding-left: 1px;
	color:white;
	font-weight: 900;
	
}
.whitecolour{
	color:white;
}

.redcolour{
	color :rgb(180, 0, 0);
}

.nlogged{
	display: none;
}

.commentStart{
	display: none;
}

.fa{
	padding-left: 5px;
}
 
.info {
	display: inherit;
}

.right {
	margin-top: 4px;
	/* position: fixed; */
	float: right;
	/* left: 100%; */
	/* padding: 10px; */
  }

.left {
	position: relative;
	/* float: left; */
	/* right: 0px; */
	padding: 10px;
  }
.commentbox{
	margin:auto;
	width: 90%;
	padding-bottom: 20px;
	/* height :200px; */
}

.scroll{
	overflow-y: scroll;
	height: 90px;
	/* overflow-wrap: break-word; */
	word-break: break-all;
}

.commenttextbox{
	background-color: rgb(255, 255, 255);
	border-color: Black;
	border-style: solid;
	border-width: 4px;
	height: 100px;
}

.post
{
	margin:auto;
	margin-top: 20px;
	display: block;
	/* padding:px; */
	/* background-color: rgb(75, 75, 75); */
	background-color: rgb(75, 75, 75);
	border-color: Black;
	border-style: solid;
	border-width: 4px;
	width: 65% !important;
	height: 50% !important;
}
.column.middle.image{
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	position: relative;
	display: block;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
}

.ex-pad {
	/* padding-top: 10px; */
}