
html{
	background-color:hsl(0, 0%, 71%);
}

.credits{
	padding-top: 20px;
	padding-bottom: 20px;
	position:fixed;
	bottom:0;
	width:100%;
}
a.inactivelink{
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
 }
 a.inactivelink:hover{
	background-color: unset;
 }
   
.hbutton{
	position: absolute !important;
	margin-left: -47.8%;
	margin-top:20px;
}

#loginbox{
  padding-bottom:3rem;
  margin:auto;
}

#loginbutton{
  float:left;
}

#signupbutton{
  float:right;
}
#forgotbutton{
	margin:right;
  }

.box-padding{
	padding-top: 20px;
}